<header>
    <nav class="navbar-nav">
        <p>SNI CHAT</p>
        <ul class="nav-links">
            <li ><a class='nav-link' href="/logout"><img class="nav-icon filter-red" src="/assets/power-button.svg" alt="logout">Logout</a></li>
        </ul>
    </nav>
</header>